* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
font-family: Arial, sans-serif, Helvetica;
background: #e8e8e8;

}

.menu{
background: #343E40;
list-style: none;
padding: 0;
width: 90%;
max-width: 1000px;
margin: auto;
border-radius: 20px;
position: fixed;
}

.menu li {
float: right;
text-align: center;
}

.menu li a {
  color: #e8e8e8;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  transition: .2

}
.menu li a:hover{
  background: #0D0D0D;
  font-size: 20px;
}

.Dgimg img{
	width: 100%;
}
.Dgtxt h2{
	float: left;
	width: 50%;
	z-index: 2;
}

.Wdimg img{
	width: 100%;
}
.Wdtxt h2{
	float: left;
	width: 50%;
	z-index: 2;
}
.Avimg img{
	width: 100%;
}
.Avtxt h2{
	float: left;
	width: 50%;
	z-index: 2;
}
